* {
    box-sizing: border-box;
}

html {
    background-color: rgb(206, 228, 206);
    height: 100%;
}

/* navbar styling */
nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(46, 118, 53);
    display: flex;
    justify-content: space-between;
}

nav .icon {
    display: block;
    font-size: 3rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

nav ul.nav-menu {
    display: none;
    flex-direction: column;
    padding-left: 0;
    width: 100%;
    background-color: rgb(46, 118, 53);
}

nav ul.nav-menu.active {
    display: flex;
}

nav li {
    display: inline-block;
    width: 85px;
    text-align: center;
}

nav img {
    max-height: 50px;
}

nav a {
    color: beige;
    text-decoration: none;
    font-family: "Public Sans", sans-serif;
}
/* end of navbar styling */

/* Additional styles... */

/* Styling for SMALL screens (598px+) */
@media(min-width:598px) {
    nav {
        justify-content: left;
    }
    nav .icon {
        display: none;
    }
    nav ul.nav-menu {
        display: flex;
        flex-direction: row;
        padding-left: 40px;
    }
    nav li {
        width: 90px;
    }
}

/* Styling for MEDIUM screens (768px+) */
@media(min-width:768px) {
    nav li {
        width: 120px;
    } 
}

/* Styling for LARGE screens (992px+) */
@media(min-width:992px) {
    /* Styles for large screens */
}

/* Hover rule for navbar */
nav a:hover {
    color: #fff585;
    border-bottom: 0.8rem;
    border-bottom: solid;
    border-bottom-color: #fff585;
    transition: 0.25s ease-out;
}

/* Additional styles for other elements... */

/* Adjust as needed for your specific design */
